
.navbar-items{
    marginTop: "40px",
}
.hamburger{
    display: none;
}
.hamburger2{ display: none;}
.about-container{
    display: flex;
}
.Dbtn{
    display: block;
}
@media(max-width: 900px){
    .navbar-items{
        display: none;
    }
    .hamburger{
        display: block;
        font-size: 80px;
    }
    .about-container{
        display: block;
    }
    .Dbtn{
        display: none;
    }
    .hamburger2{
        display: block;
        font-size: 80px;
    }
}

.btn:hover{
    background-color: rgb(131, 48, 48);
    color: rgb(143, 55, 55);
}



